<div id="<%= dom_id curriculum %>">
  <p>
    <strong>School:</strong>
    <%= curriculum.school_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= curriculum.school_class_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= curriculum.teacher_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= curriculum.subject_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= curriculum.title %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= curriculum.is_complete %>
  </p>

  <p>
    <strong>Percent complete:</strong>
    <%= curriculum.percent_complete %>
  </p>

</div>
