<div id="curriculum-preview-wrapper">
  <span class="text-white percent-complete-badge text-center dashboard-normal-font-size <%= generate_progress_background(curriculum.percent_complete) %>">
    Curriculum progress <%= curriculum.percent_complete %> %</span>
  <% main_topics = curriculum.main_topics %>
  <div class="accordion" id=<%= generate_accordion_id("parent_#{curriculum.id}") %>>
    <% main_topics.each do |main_topic| %>
      <%= render partial: "main_topics/main_topic", locals: { curriculum: curriculum, main_topic: main_topic, subject: subject } %>
    <% end %>
  </div>
  <div id="main-topic-add-btn" class="my-5 text-center">
    <%= render partial: "main_topics/add_btn", locals: { subject: subject, curriculum: curriculum } %>
  </div>
</div>
