<div id="curriculum-preview-wrapper">
  <%= turbo_frame_tag "curriculum_new_page" do %>
    <% if @current_curriculum %>
      <%= render partial: "curriculums/curriculum", locals: { curriculum: @current_curriculum } %>
    <% else %>
      <%= link_to "New Curriculum", new_curriculum_path(subject_id: @subject.id) %>
    <% end %>
  <% end %>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <%= link_to "Add New Topic", new_main_topic_path(subject_id: @subject.id) %>
  <% end %>
</div>
