<div id="<%= dom_id assessment %>">
  <p>
    <strong>School:</strong>
    <%= assessment.school_id %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= assessment.academic_year_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= assessment.course_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= assessment.semester_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= assessment.type %>
  </p>

  <p>
    <strong>Marks:</strong>
    <%= assessment.marks %>
  </p>

</div>
