<div id="<%= dom_id main_topic %>">
  <p>
    <strong>Teacher:</strong>
    <%= main_topic.teacher_id %>
  </p>

  <p>
    <strong>Curriculum:</strong>
    <%= main_topic.curriculum_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= main_topic.title %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= main_topic.is_complete %>
  </p>

</div>
