<div id="<%= dom_id report_card_generator %>">
  <p>
    <strong>Academic year:</strong>
    <%= report_card_generator.academic_year_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= report_card_generator.school_class_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= report_card_generator.term_id %>
  </p>

  <p>
    <strong>Student passed num:</strong>
    <%= report_card_generator.student_passed_num %>
  </p>

  <p>
    <strong>Class average:</strong>
    <%= report_card_generator.class_average %>
  </p>

  <p>
    <strong>School:</strong>
    <%= report_card_generator.school_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report_card_generator.status %>
  </p>

  <p>
    <strong>Failed errors:</strong>
    <%= report_card_generator.failed_errors %>
  </p>

  <p>
    <strong>Most performed students:</strong>
    <%= report_card_generator.most_performed_students %>
  </p>

</div>
