<div class="dashboard-normal-font-size light-grey-card p-2">
  <p class="margin-zero"><%= report_card_generator.title %></p>
  <p class="margin-zero">Generate Status: <span class="text-white badge <%= success_state_badge_color(report_card_generator.is_successful) %>"><%= report_card_generator.is_successful %></span></p>
  <p class="margin-zero">Error Count: <span class="text-color-grey-2"><%= report_card_generator.failed_errors.size %></span></p>
  <p class="margin-zero">Warning count: <span class="text-color-grey-2"><%= report_card_generator.warning_messages.size %></span></p>
  <p class="margin-zero">Success Rate: 
    <span class="text-color-grey-2"><%= report_card_generator.student_passed_num %> / <%= report_card_generator.student_num %></span>
    <span class="text-white percent-complete-badge text-center <%= percentage_badge_color(report_card_generator.success_rate) %>">
      <%= report_card_generator.success_rate %> %</span>
  </p>
  <p>
    <% if report_card_generator.report_card_file.attached? %>
      <%= link_to "View PDF", url_for(report_card_generator.report_card_file), class: "grey-link-text" %>
    <% end %>
  </p>
  <div class="d-flex justify-content-between align-items-start my-2">
    <%= render partial: "report_card_generators/preview", layout: "layouts/drawer_layout", 
              locals: { report_card_generator: report_card_generator, title: report_card_generator.title, 
              item_id: generate_drawer_id("preview", record: report_card_generator) , position: "end", btn_text: "View", btn_visibility: true } %>
  </div>
</div>
