<p style="color: green"><%= notice %></p>

<%= render @report_card_generator %>

<div>
  <%= link_to "Edit this report card generator", edit_report_card_generator_path(@report_card_generator) %> |
  <%= link_to "Back to report card generators", report_card_generators_path %>

  <%= button_to "Destroy this report card generator", @report_card_generator, method: :delete %>
</div>
