<div class="container-fluid dark-blue-section-div" id="sign-in-div">
  <div class="container">
    <div class="row light-grey-card py-5">
      <div class="col-lg-4" id="sign-in-colum-div">
        <div class="sign-in-form-div py-5 px-4">
          <h4 class="sign-in-headers">New Account - free!!!</h4>
          <p class="no-account-yet">Already have an account?  <%= link_to "Log In", new_session_path(resource_name), class: "sign-up-link" %></p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row">
              <div class="col-md-6 field my-2">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, class: "sign-in-inputs", required: true %>
              </div>
              <div class="col-md-6 field my-2">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, class: "sign-in-inputs" %>
              </div>
            </div>
            <div class="field my-3">
              <%= f.label :phone %><br />
              <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone-number", class: "sign-in-inputs", required: true %>
            </div>
            <div class="field my-3">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "sign-in-inputs", required: true %>
            </div>
            <div class="field my-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign-in-inputs", required: true %>
            </div>
            <div class="actions my-3">
              <%= f.submit "Sign up", class: "sign-in-btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="d-none d-lg-block col-md-8">
        <%= image_tag("sign-up.png", class: "img-fluid")%>
      </div>
    </div>
  </div>
</div>
