<div class="light-grey-card p-2 dashboard-normal-font-size" id="<%= dom_id working %>">
  <%= render partial: "teachers/avatar", locals: { teacher: working.teacher } %>
  <h5 class="text-center">
    <%= working.teacher.full_name %>
  </h5>
  <p class="margin-zero d-flex justify-content-between">
    <span>Salary</span>
    <span class="text-color-grey-2 px-3"><%= working.agreed_salary %></span>
  </p>
  <p class="margin-zero d-flex justify-content-between">
    <span>Permission</span>
    <span class="text-color-grey-2 px-3"><%= working.permission %></span>
  </p>
</div>
