<div id="<%= dom_id progress %>">
  <p>
    <strong>School:</strong>
    <%= progress.school_id %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= progress.subject_id %>
  </p>
  <p>
    <strong>Teacher:</strong>
    <%= progress.teacher_id %>
  </p>
  <p>
    <strong>Topics:</strong>
    <%= progress.topics %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= progress.duration %>
  </p>
  <p>
    <strong>Term:</strong>
    <%= progress.term_id %>
  </p>
  <p>
    <strong>Academic year:</strong>
    <%= progress.academic_year %>
  </p>
  <p>
    <strong>Seq num:</strong>
    <%= progress.seq_num %>
  </p>
</div>
