<%= form_with(model: student, id: "student-form") do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :school_id, value: current_school.id %>
    <%= form.hidden_field :education_level, value: current_school.education_level %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :first_name, style: "display: block" %>
      <%= form.text_field :first_name, class: "general-input-styles", required: true %>
    </div>
    <div class="col-md-4">
      <%= form.label :last_name, style: "display: block" %>
      <%= form.text_field :last_name, class: "general-input-styles", required: true %>
    </div>
    <div class="col-md-4">
      <%= form.label :date_of_birth, style: "display: block" %>
      <%= form.date_field :date_of_birth, class: "general-input-styles" %>
    </div>
    <% if current_school.higher_education? %>
      <div class="col-md-6">
        <%= form.label :faculty, style: "display: block" %>
        <%= form.collection_select :faculty_id, current_school.faculties, :id, :name, { prompt: "Select a faculty"}, { class: "general-input-styles", required: true } %>
      </div>
      <div class="col-md-6">
        <%= form.label :department, style: "display: block" %>
        <%= form.collection_select :department_id, current_school.departments, :id, :name, { prompt: "Select a faculty"}, { class: "general-input-styles", required: true } %>
      </div>
    <% end %>
    <div class="col-md-6">
      <% if current_school.higher_education? %>
        <%= form.label :level, style: "display: block" %>
      <% else %>
        <%= form.label :school_class_id, style: "display: block" %>
      <% end %>
      <%= form.collection_select :school_class_id, current_school.school_classes, :id, :name %>
    </div>
    <div class="col-md-6">
      <%= form.label :fathers_name, style: "display: block" %>
      <%= form.text_field :fathers_name, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :fathers_contact, style: "display: block" %>
      <%= form.text_field :fathers_contact, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :mothers_name, style: "display: block" %>
      <%= form.text_field :mothers_name, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :mothers_contact, style: "display: block" %>
      <%= form.text_field :mothers_contact, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :guidance_name, style: "display: block" %>
      <%= form.text_field :guidance_name, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :guidance_contact, style: "display: block" %>
      <%= form.text_field :guidance_contact, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :subjects, style: "display: block" %>
      <%= form.text_field :subjects, class: "general-input-styles" %>
    </div>
    <div class="col-md-6">
      <%= form.label :town, style: "display: block" %>
      <%= form.text_field :town, class: "general-input-styles" %>
    </div>
  </div>
  <div class="py-3">
    <%= form.submit class: "general-btn" %>
  </div>
<% end %>
<script async
    src=<%= google_map_src %>></script>
<script>
  var autocomplete;
  var student_town_input_field = document.querySelector("#student_town");
    function initAutocomplete(){
     autocomplete = new google.maps.places.Autocomplete(
       student_town_input_field,
       {
        types: ["(regions)"],
        fields: ["name"],
       }
     )
   }
   console.log("Count how many times")
</script>
