<div class="light-grey-card m-2 p-2">
  <p class="margin-zero">
    <%= link_to report_card.long_title, "##{generate_drawer_id("preview", record: report_card)}", 
    class: "grey-link-text dashboard-normal-font-size", data: { bs_toggle: "offcanvas" },
     role: "button", aria: {controls: "#{generate_drawer_id("preview", record: report_card)}_drawer"} %>
  </p>
  <p class="margin-zero">Average: <span class="text-color-grey-2"><%= report_card.average&.round(2) %></span> Rank: <span class="text-color-grey-2"><%= report_card.rank %> / <%= report_card.school_class.students.count %></span></p>
  <%= render partial: "report_cards/preview", layout: "layouts/drawer_layout", 
              locals: { report_card: report_card, title: report_card.long_title, 
              item_id: generate_drawer_id("preview", record: report_card) , position: "end", btn_text: "View", btn_visibility: false } %>
</div>
