<div class="section-div" id="<%= dom_id student %>">
  <p>
    <strong>School:</strong>
    <%= student.school_id %>
  </p>
  <p>
    <strong>School class:</strong>
    <%= student.school_class_id %>
  </p>
  <p>
    <strong>Full name:</strong>
    <%= student.full_name %>
  </p>
  <p>
    <strong>Fathers name:</strong>
    <%= student.fathers_name %>
  </p>
  <p>
    <strong>Fathers contact:</strong>
    <%= student.fathers_contact %>
  </p>
  <p>
    <strong>Mothers name:</strong>
    <%= student.mothers_name %>
  </p>
  <p>
    <strong>Mothers contact:</strong>
    <%= student.mothers_contact %>
  </p>
  <p>
    <strong>Guidance name:</strong>
    <%= student.guidance_name %>
  </p>
  <p>
    <strong>Guidance contact:</strong>
    <%= student.guidance_contact %>
  </p>
  <p>
    <strong>Date of birth:</strong>
    <%= student.date_of_birth %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>
  <p>
    <strong>Subjects:</strong>
    <%= student.subjects %>
  </p>
</div>
