<table class="table table-hover">
  <thead class="table-head-styles">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Matricule</th>
      <th scope="col">class</th>
      <th scope="col" class="d-none d-md-table-cell">Birth</th>
      <th scope="col" class="d-none d-md-table-cell">Father</th>
      <th scope="col" class="d-none d-md-table-cell">Mother</th>
      <th scope="col" class="d-none d-md-table-cell">Other Contacts</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td>
          <%= link_to student.two_names, "##{generate_drawer_id("preview", record: student)}", 
          class: "grey-link-text dashboard-normal-font-size", data: { bs_toggle: "offcanvas" },
          role: "button", aria: {controls: "#{generate_drawer_id("preview", record: student)}_drawer"} %>
        </td>
        <td><%= student.school_class.name %></td>
        <td><%= student.matricule %></td>
        <td class="table-row-data d-none d-md-table-cell"><%= student.date_of_birth %></td>
        <td class="table-row-data d-none d-md-table-cell"><%= student.fathers_name %></td>
        <td class="table-row-data d-none d-md-table-cell"><%= student.mothers_name %></td>
        <td class="table-row-data d-none d-md-table-cell">
          <p class="margin-zero">Father: <%= student.fathers_contact %></p>
          <p class="margin-zero">Mother: <%= student.mothers_contact %></p>
        </td>
      </tr>
      <%= render partial: "students/preview", layout: "layouts/drawer_layout", 
              locals: { student: student, title: student.full_name, 
              item_id: generate_drawer_id("preview", record: student) , position: "end", 
              btn_text: "View", btn_visibility: false } %>
    <% end %>
  </tbody>
</table>
