<div data-controller="sidebars">
  <% if current_teacher.can_access_admin?(current_school) %>
    <%= render partial: "shared/sidebar/sidebar_link_dropdown_component", locals: { main_icon_class: "book-reader",
  main_link_text: "Faculties", main_link_path: faculties_schools_path,
  dropdown_links: current_school_faculties_link_data } %>
    <%= render partial: "shared/sidebar/sidebar_link_dropdown_component", locals: { main_icon_class: "school",
  main_link_text: "Departments", main_link_path: departments_schools_path,
  dropdown_links: current_school_faculties_link_data } %>
    <%= render partial: "shared/sidebar/sidebar_link_dropdown_component", locals: { main_icon_class: "chalkboard-teacher",
  main_link_text: "Lecturers", main_link_path: teachers_schools_path,
  dropdown_links: current_school_teachers_link_data } %>
    <%= render partial: "shared/sidebar/sidebar_link_dropdown_component", locals: { main_icon_class: "step-forward",
  main_link_text: "Levels", main_link_path: levels_schools_path,
  dropdown_links: current_school_classes_link_data } %>
    <%= render partial: "shared/sidebar/sidebar_link_component", locals: { main_icon_class: "user-graduate",
  main_link_text: "Students", main_link_path: students_schools_path } %>
    <%= render partial: "shared/sidebar/sidebar_link_component", locals: { main_icon_class: "satellite-dish",
  main_link_text: "Academic Years", main_link_path: academic_years_path } %>
    <%= render partial: "shared/sidebar/sidebar_link_component", locals: { main_icon_class: "cog",
  main_link_text: "Settings", main_link_path: edit_school_path(current_school) } %>
  <% end %>
  <%= render partial: "shared/sidebar/sidebar_link_dropdown_component", locals: { main_icon_class: "tachometer-alt",
  main_link_text: "You Courses", main_link_path: courses_teachers_path,
  dropdown_links: current_teacher_courses_link_data } %>
</div>
