<div class="link-div-wrapper">
  <div class="row">
    <div class="col-md-2">
      <span class="sidebar-icon-span"><%= fa_icon(main_icon_class) %></span>
    </div>
    <div class="col-md-10 d-flex justify-content-between">
      <%= link_to main_link_text, main_link_path, class: "side-bar-links" %>
      <span class="sidebar-icon-arrow-down" data-expand-div-id="sidebar-classes-expand"><%= fa_icon("arrow-down") %></span>
      <span class="sidebar-icon-arrow-up d-none" data-expand-div-id="sidebar-classes-expand"><%= fa_icon("arrow-up") %></span>
    </div>
  </div>
  <div class="expanded-section d-none" id="sidebar-classes-expand">
    <ul class="list-unstyled text-white px-3">
      <% dropdown_links.map do |dropdown_link| %>
        <li>
          <%= link_to dropdown_link[:class_name], dropdown_link[:class_path], class: "side-bar-dropdown-links" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
