<%= form_with(model: lecturing) do |form| %>
  <% if lecturing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lecturing.errors.count, "error") %> prohibited this lecturing from being saved:</h2>
      <ul>
        <% lecturing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :course_id, class: "d-none" %>
    <%= form.hidden_field :course_id, value: course.id %>
  </div>
  <div>
    <%= form.label :lecturer, style: "display: block" %>
    <%= form.collection_select :teacher_id, current_school.workers.all, :id, :full_name, { prompt: "Select Lecturer" }, { class: "general-input-styles", required: true } %>
  </div>
  <div class="my-2">
    <%= form.submit class: "model-form-btn" %>
  </div>
<% end %>
