<%= form_with(model: topic) do |form| %>
  <% if topic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      <ul>
        <% topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :teacher_id, class: "d-none" %>
    <%= form.hidden_field :teacher_id, value: current_teacher.id %>
  </div>
  <div>
    <%= form.label :subject_id, class: "d-none" %>
    <%= form.hidden_field :subject_id, value: subject.id %>
  </div>
  <div>
    <%= form.hidden_field :main_topic_id, value: main_topic.id %>
  </div>
  <div class="d-flex align-items-center">
    <%= form.text_field :title, placeholder: "Enter Topic Title", class: "general-input-styles" %>
    <%= form.submit :save, class: "model-form-btn" %>
  </div>
<% end %>
