<div id="<%= dom_id report_card %>">
  <p>
    <strong>School:</strong>
    <%= report_card.school_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= report_card.school_class_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= report_card.term_id %>
  </p>

  <p>
    <strong>Average:</strong>
    <%= report_card.average %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= report_card.rank %>
  </p>

  <p>
    <strong>Class average:</strong>
    <%= report_card.class_average %>
  </p>

  <p>
    <strong>Passed subjects:</strong>
    <%= report_card.passed_subjects %>
  </p>

</div>
