<div id="school-main-div">
  <%= render "shared/school_manager_navbar" %>
  <h1 class="text-center">Report cards</h1>
  <%= render partial: "terms/form", 
        layout: "layouts/modal_layout", 
        locals: { term: @term, action_name: "New Term", action_title: "Create A New Term" }%>
  <div class="row">
    <div class="col-md-3"></div>
  </div>
  <div id="report_cards">
    <% @report_cards.each do |report_card| %>
      <%= render report_card %>
      <p>
        <%= link_to "Show this report card", report_card %>
      </p>
    <% end %>
  </div>
  <%= link_to "New report card", new_report_card_path %>
</div>
