  <%= form_with(model: term) do |form| %>
  <% if term.errors.any? %>
    <div class="form-error-div">
      <h5><%= pluralize(term.errors.count, "error") %> prohibited this term from being saved:</h5>
      <ul>
        <% term.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="py-2">
    <%= form.label :term_type, style: "display: block" %>
    <%= form.select :term_type, Term.term_types.map { |k,v| [k.humanize, k] }, {include_blank: 'Select Term Number'}, { class: "general-input-styles", required: true } %>
  </div>
  <div class="py-2">
    <%= form.label :academic_year, class: "d-none" %>
    <%= form.hidden_field :academic_year_id, value: academic_year.id %>
  </div>
  <div class="py-2">
    <%= form.hidden_field :school_id, value: current_school.id %>
  </div>
  <div>
    <%= form.submit class: "model-form-btn" %>
  </div>
<% end %>
