<div id="<%= dom_id term %>">
  <p>
    <strong>Term type:</strong>
    <%= term.term_type %>
  </p>

  <p>
    <strong>Academic year start:</strong>
    <%= term.academic_year_start %>
  </p>

  <p>
    <strong>Academic year end:</strong>
    <%= term.academic_year_end %>
  </p>

  <p>
    <strong>School:</strong>
    <%= term.school_id %>
  </p>

</div>
