<footer class="pt-5" id="footer-wrapper-div">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center">
          <%= image_tag("main-logo.png", class: "footer-logo")%>
        </p>
        <p class="text-white font-weight-light">Simplifying your school management hub, Your ultimate SAAS solution for effortless school administration.</p>
      </div>
      <div class="col-4 col-md-2">
        <h5 class="text-white">Product</h5>
        <ul>
          <li><%= link_to "How it works", "#", class: "footer-links" %></li>
          <li><%= link_to "Service", "#", class: "footer-links" %></li>
          <li><%= link_to "Blogs", "#", class: "footer-links" %></li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h5 class="text-white">Company</h5>
        <ul>
          <li><%= link_to "Privacy Policy", privacy_policy_path, class: "footer-links" %></li>
          <li><%= link_to "Contacts", contact_us_path, class: "footer-links" %></li>
          <li><%= link_to "Blogs", "#", class: "footer-links" %></li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h5 class="text-white">Utility</h5>
        <ul>
          <li><%= link_to "Help Center", "#", class: "footer-links" %></li>
          <li><%= link_to "Developers", "#", class: "footer-links" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="back-ground-div">
    <%= image_tag("footer-lower-background.png", class: "img-fluid")%>
  </div>
</footer>
