<nav id="main-navbar" class="navbar fixed-top navbar-expand-lg py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SchoolGate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="d-md-flex">
        <% if teacher_signed_in? %>
          <%= link_to "Schools", schools_path, class: "nav-link" %>
          <%= link_to "Invitations", invitations_teachers_path, class: "nav-link" %>
          <%= link_to "Account", edit_teacher_path(current_teacher), class: "nav-link" %>
          <%=button_to "Log Out", destroy_teacher_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Student Account", login_student_dashboards_path, class: "nav-link" %>
          <%= link_to "Log In", new_teacher_session_path, class: "nav-link" %>
        <% end %>
        <%= link_to "Contact", contact_us_path, class: "nav-link" %>
      </div>
    </div>
  </div>
</nav>
