<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "departments/department_show_card", locals: { department: @department } %>
    </div>
    <div class="col-md-9">
      <h5 class="text-center light-grey-card py-2">Students</h5>
      <div class="students-list-div white-section-div my-2 scrollable-tbody">
        <%#= render partial: "students/table", locals: { students: @school_class.students } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 py-5">
      <h5 class="text-center light-grey-card py-2 my-2">Courses</h5>
      <div class="white-section-div scrollable-tbody">
        <div>
          <%= render partial: "courses/form", 
        layout: "layouts/modal_layout", 
        locals: { course: Course.new, action_name: "Add Course", action_title: "Create Course",
        department_id: @department.id, faculty_id: @department.faculty_id ,modal_id: generate_modal_id("new", record: Course.new) }%>
        </div>
        <% @courses.each do |course| %>
          <div class="my-2 d-flex justify-content-between">
            <%= link_to course.long_title, "##{generate_drawer_id("preview", record: course)}", 
          class: "grey-link-text dashboard-small-font-size", data: { bs_toggle: "offcanvas" },
          role: "button", aria: {controls: "#{generate_drawer_id("preview", record: course)}_drawer"} %>
            <%= render partial: "courses/preview", layout: "layouts/drawer_layout", 
              locals: { course: course, title: course.long_title, 
              item_id: generate_drawer_id("preview", record: course) , position: "end", btn_text: "View", btn_visibility: false } %>
            <%= render partial: "lecturings/form", 
              layout: "layouts/modal_layout", 
              locals: { lecturing: Lecturing.new, course: course, action_name: "Assign", action_title: "Invitation",
              modal_id: generate_modal_id("new", record: course) } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 py-5">
      <div class="section-div">
        <h5>Lecturers</h5>
      </div>
    </div>
  </div>
</div>
<%#= button_to "Destroy this department", @department, method: :delete %>
