<table class="table table-hover white-section-div">
  <thead class="table-head-styles">
    <tr>
      <th scope="col">School</th>
      <th scope="col">Sender</th>
      <th scope="col">salary</th>
      <th scope="col">status</th>
      <% if status == "pending" %>
        <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% invitations.each do |i| %>
      <tr>
        <td class="table-row-data table-row-data-medium-fonts"><%= i.school.full_name %></td>
        <td class="table-row-data table-row-data-medium-fonts"><%= i.sender.full_name %></td>
        <td class="table-row-data table-row-data-medium-fonts"><%= i.proposed_salary %></td>
        <td class="table-row-data table-row-data-medium-fonts"><%= i.status %></td>
        <% if status == "pending" %>
          <td>
            <%= button_to "Accept", accept_invitation_path(i), method: :put, class: "invitation-accept-link" %><br>
            <%= button_to "Reject", reject_invitation_path(i), method: :put, class: "cancel-text-link invitation-decline-link" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
