<div id="<%= dom_id enrollment %>">
  <p>
    <strong>School:</strong>
    <%= enrollment.school_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= enrollment.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= enrollment.course_id %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= enrollment.academic_year_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= enrollment.semester_id %>
  </p>

</div>
