<div id="<%= dom_id performance_sheet %>">
  <p>
    <strong>School:</strong>
    <%= performance_sheet.school_id %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= performance_sheet.academic_year_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= performance_sheet.teacher_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= performance_sheet.school_class_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= performance_sheet.term_id %>
  </p>

  <p>
    <strong>Seq num:</strong>
    <%= performance_sheet.seq_num %>
  </p>

  <p>
    <strong>Processing time:</strong>
    <%= performance_sheet.processing_time %>
  </p>

</div>
