<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>
      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :school_id, value: current_school.id %>
  </div>
  <div>
    <%= form.hidden_field :school_class_id, value: @school_class.id %>
  </div>
  <div class="row">
    <div class="col-9 col-md-8">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "general-input-styles"%>
    </div>
    <div class="col-3 col-md-4">
      <%= form.label :coef, style: "display: block" %>
      <%= form.number_field :coefficient,  class: "general-input-styles" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 my-3">
      <%= form.label :less_than_equal_to_5, style: "display: block" %>
      <%= form.text_field :less_than_equal_to_5,  class: "general-input-styles" %>
    </div>
    <div class="col-6 my-3">
      <%= form.label :less_than_equal_to_9, style: "display: block" %>
      <%= form.text_field :less_than_equal_to_9,  class: "general-input-styles" %>
    </div>
    <div class="col-6 my-3">
      <%= form.label :less_than_equal_to_12, style: "display: block" %>
      <%= form.text_field :less_than_equal_to_12,  class: "general-input-styles" %>
    </div>
    <div class="col-6 my-3">
      <%= form.label :less_than_equal_to_15, style: "display: block" %>
      <%= form.text_field :less_than_equal_to_15,  class: "general-input-styles" %>
    </div>
    <div class="col-6 my-3">
      <%= form.label :less_than_equal_to_18, style: "display: block" %>
      <%= form.text_field :less_than_equal_to_18,  class: "general-input-styles" %>
    </div>
    <div class="col-6 my-3">
      <%= form.label :less_than_equal_to_20, style: "display: block" %>
      <%= form.text_field :less_than_equal_to_20,  class: "general-input-styles" %>
    </div>
  </div>
  <div class="py-3">
    <%= form.submit class: "general-btn" %>
  </div>
<% end %>
