<div class="section-div" id="<%= dom_id subject %>">
  <p>
    <strong>School:</strong>
    <%= subject.school_id %>
  </p>
  <p>
    <strong>School class:</strong>
    <%= subject.school_class_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>
  <p>
    <strong>Coefficient:</strong>
    <%= subject.coefficient %>
  </p>
</div>
