<% if is_admin_dashboard %>
  <%= turbo_frame_tag custom_id_generator("edit", record: subject) do %>
    <div class="light-grey-card dashboard-normal-font-size p-2">
      <p class="text-center"> <%= subject.title %></p>
      <p class="margin-zero">Coefficient: <span class="text-color-grey-2"><%= subject.coefficient %></span></p>
      <% subject.remarks.each do |k, v| %>
        <div class="margin-zero d-flex justify-content-between">
          <p class="margin-zero"><%= k.humanize %> </p>
          <p class="text-color-grey-2 margin-zero"><%= v %></p>
        </div>
      <% end %>
      <div>
        <%= link_to "Edit", edit_subject_path(subject), class: "general-link" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="dark-blue-section-div dashboard-normal-font-size">
    <h5 class="text-center"><%= subject.name %></h5>
    <p class="margin-zero">Class: <span class="text-color-grey"><%= subject.school_class.name %></span></p>
    <p class="margin-zero">Students: <span class="text-color-grey"><%= subject.school_class.students.count %></span></p>
    <p class="margin-zero">Coefficient: <span class="text-color-grey"><%= subject.coefficient %></span></p>
    <h5 class="text-center"><span class="text-color-info"><%= @current_week_hours_covered[:hours] %> Hrs : <%=  @current_week_hours_covered[:mins] %> Mins</span>  Covered</h5>
  </div>
<% end %>
