<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render @subject %>
    </div>
    <div class="col-md-8">
      <%= link_to "Add Progress", new_progress_path(subject_id: @subject.id) %>
      <br>
      <%= link_to "View Progress", progresses_teacher_path(current_teacher)%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="section-div">
        <div id="modal-form-section">
          <%= render partial: "curriculums/form", 
          layout: "layouts/modal_layout", 
          locals: { curriculum: Curriculum.new, subject: @subject, action_name: "Save", action_title: "Create A New Curriculum",
          modal_id: generate_modal_id("curriculum_create_form") }%>
        </div>
        <div id="curriculum-list">
          <% @curriculums.each do |curriculum| %>
            <%= render partial: "curriculums/curriculum", locals: { curriculum: curriculum, subject: @subject } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <%= link_to "Create Sequence", new_sequence_path(school_class_id: @subject.school_class_id, subject_id: @subject.id) %>
      <div class="row">
        <% @sequences.each do |sequence| %>
          <div class="col-md-6">
            <%= render partial: "sequences/sequence", locals: { sequence: sequence } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
