<div class="container">
  <div class="my-2">
    <%= link_to @school_class.name, @school_class, class: "edit-link" %> / <%= link_to @subject.name, @subject, class: "edit-link" %>
  </div>
  <div class="row my-2">
    <div class="col-md-3 white-section-div p-2 my-2">
      <%= render partial: "subjects/subject", locals: { subject: @subject, is_admin_dashboard: true }%>
      <div class="light-grey-card dashboard-normal-font-size p-2 my-3">
        <div class="d-flex justify-content-between align-text-center">
          <h5>Teachers</h5>
          <%= render partial: "teachings/form", 
        layout: "layouts/modal_layout", 
        locals: { teaching: Teaching.new, action_name: "Assign Teacher",
         action_title: "Assign Teacher to #{@subject.name}", modal_id: generate_modal_id("teachings_create_form") }%>
        </div>
        <h5 class="text-center my-3">Assigned Teachers (<%= @active_teachings.size %>)</h5>
        <% @active_teachings.each do |teaching| %>
          <% teacher = teaching.teacher %>
          <div class="d-flex justify-content-between">
            <p><%= teacher.full_name %></p>
            <p class="float-end"><%= render partial: "layouts/confirm_modal_layout", locals: { text: "Unassign", text_color: "text-danger",
             action_url: toggle_status_teaching_path(id: teaching.id, status: "false"), action_text: "Yes",
             confirmation_text: "Are you sure to Unassign #{teacher.full_name} from #{@subject.name}",
             modal_id: generate_modal_id("update", record: teaching),  method: "update" } %></p>
          </div>
        <% end %>
        <br>
        <hr>
        <h5 class="text-center">Unassigned Teachers (<%= @inactive_teachings.size %>) </h5>
        <% @inactive_teachings.each do |teaching| %>
          <% teacher = teaching.teacher %>
          <div class="d-flex justify-content-between">
            <p><%= teacher.full_name %></p>
            <p class="float-end"><%= render partial: "layouts/confirm_modal_layout", locals: { text: "Re-assign", text_color: "text-primary",
             action_url: toggle_status_teaching_path(id: teaching.id, status: "true"), action_text: "Yes",
             confirmation_text: "Are you sure to Re-assign #{teacher.full_name} to #{@subject.name}",
             modal_id: generate_modal_id("update", record: teaching), method: "update"  } %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 my-2">
      <div class="white-section-div">
        <%= render partial: "teachers/progress_table", locals: { progresses: @subject.progresses, for_current_user: false } %>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-4 white-section-div my-2">
      <div id="curriculum-list">
        <% @subject.curriculums.each do |curriculum| %>
          <%= render partial: "curriculums/curriculum", locals: { curriculum: curriculum, subject: @subject } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 my-2">
      <div class="white-section-div p-3">
        <p class="text-center">
          <%= link_to "New Sequence Marks", new_sequence_path(school_class_id: @subject.school_class_id, subject_id: @subject.id), class: "general-link" %>
        </p>
        <div class="row">
          <% @subject.sequences.each do |sequence| %>
            <div class="col-md-6 my-2">
              <%= render partial: "sequences/sequence", locals: { sequence: sequence, subject: @subject } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
