<div id="school-main-div">
  <%= render "shared/school_manager_navbar" %>
  <%= link_to @school_class.name, @school_class %> / <%= link_to @subject.name, @subject %>
  <%= render @subject %>
  <div>
    <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
    <%= link_to "Back to subjects", subjects_path %>
    <%= button_to "Destroy this subject", @subject, method: :delete %>
  </div>
  <div>
    <h5>Teachers</h5>
    <% @subject.teachers.each do |teacher| %>
      <p><%= teacher.full_name %></p>
    <% end %>
    <%= render partial: "teachings/form", 
        layout: "layouts/modal_layout", 
        locals: { teaching: Teaching.new, action_name: "Assign Teacher",
         action_title: "Assign Teacher #{@subject.name}", modal_id: generate_modal_id("teachings_create_form") }%>
  </div>
</div>
