<%= form_with(model: school_class) do |form| %>
  <% if school_class.errors.any? %>
    <div class="form-error-div p-1">
      <p><%= pluralize(school_class.errors.count, "error") %> prohibited this school_class from being saved:</p>
      <ul>
        <% school_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :school_id, value: current_school.id %>
  </div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "general-input-styles" %>
  </div>
  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.number_field :level, class: "general-input-styles" %>
  </div>
  <div class="py-4">
    <%= form.submit class: "general-btn" %>
  </div>
<% end %>
