<%= form_with(model: school_class) do |form| %>
  <% if school_class.errors.any? %>
    <div class="form-error-div p-1">
      <p><%= pluralize(school_class.errors.count, "error") %> prohibited this school_class from being saved:</p>
      <ul>
        <% school_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :school_id, value: current_school.id %>
  </div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true, class: "general-input-styles" %>
  </div>
  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.number_field :level, required: true, class: "general-input-styles" %>
  </div>
  <div>
    <%= form.label :required_fee %>
    <%= form.number_field :required_fee, required: true, class: "general-input-styles" %>
  </div>
  <div class="report-card-settings my-3">
    <h5 class="text-center">Report Card Settings</h5>
    <% if current_school.secondary_education? %>
      <div class="my-2 d-flex">
        <%= form.check_box :should_evaluate_multiple_competences_per_subject %>
        <%= form.label :should_evaluate_multiple_competences_per_subject?, class: "px-3" %>
      </div>
    <% end %>
    <div class="my-2">
      <%= form.label :report_card_format %>
      <%= form.select :report_card_format, SchoolClass.allowed_report_card_formats(current_school).map { |k,v| [k.humanize, k] }, {}, { class: "general-input-styles" } %>
    </div>
  </div>
  <div class="py-4">
    <%= form.submit class: "general-btn" %>
  </div>
<% end %>
