<div class="light-grey-card p-2" id="<%= dom_id school_class %>">
  <p class="margin-zero">Name: <span class="text-color-grey-2"><%= school_class.name %></span></p>
  <p class="margin-zero">Level: <span class="text-color-grey-2"><%= school_class.level %></span></p>
  <div class="d-flex justify-content-between">
    <p>Students: <span class="text-color-grey-2"><%= school_class.students.size%></span></p>
    <p>Teachers <span class="text-color-grey-2"><%= school_class.teachers.size%></span></p>
  </div>
  <div class="my-2 text-center">
    <%= link_to "details", school_class, class: "general-link" %>
  </div>
</div>
