<div id="school-main-div">
  <%= render "shared/school_manager_navbar" %>
  <div class="">
    <h1>Class general Info</h1>
    <%= render @school_class %>
    <div>
      <%= link_to "Edit this school class", edit_school_class_path(@school_class) %> |
      <%= link_to "Back to school classes", school_classes_path %>
      <%= button_to "Destroy this school class", @school_class, method: :delete %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 py-5">
      <div class="section-div">
        <h5>Subjects</h5>
        <div>
          <%= render partial: "subjects/form", 
        layout: "layouts/modal_layout", 
        locals: { subject: @subject, action_name: "Add Subject", action_title: "Create Subject",
        modal_id: generate_modal_id("subject_create_form") }%>
        </div>
        <% @subjects.each do |subject| %>
          <p><%= link_to subject.name, subject %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 py-5">
      <div class="section-div">
        <h5>Students</h5>
      </div>
    </div>
    <div class="col-md-4 py-5">
      <div class="section-div">
        <h5>Teachers</h5>
      </div>
    </div>
  </div>
</div>
