<div class="row">
  <div class="col-md-3 px-4 my-2">
    <div class="row dark-blue-section-div">
      <div class="col-2">
        <span class="icon-small-size icon-white"><%= fa_icon("clock") %></span>
      </div>
      <div class="col-10">
        <p class="dashboard-normal-font-size">Total Time</p>
        <h5>
          <%= @total_hours_mins_time[:hours] %> Hrs : 
          <%= @total_hours_mins_time[:mins] %> Mins
        </h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-4 my-2">
    <div class="row dark-blue-section-div">
      <div class="col-2">
        <span class="icon-small-size icon-white"><%= fas_icon("hourglass-half") %></span>
      </div>
      <div class="col-10">
        <p class="dashboard-normal-font-size">Classes Taught</p>
        <h5><%= @progresses.count %> Classes</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-4 my-2">
    <div class="row dark-blue-section-div">
      <div class="col-2">
        <span class="icon-small-size icon-white"><%= fas_icon("tasks") %></span>
      </div>
      <div class="col-10">
        <p class="dashboard-normal-font-size">Topics Covered</p>
        <h5><%= @topics_covered %> Topics</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-4 my-2">
    <div class="row dark-blue-section-div">
      <div class="col-2">
        <span class="icon-small-size icon-white"><%= fas_icon("exclamation-circle") %></span>
      </div>
      <div class="col-10">
        <p class="dashboard-normal-font-size">Num of Absentist</p>
        <h5><%= @absentist_num %> Students</h5>
      </div>
    </div>
  </div>
</div>
