<% if for_current_user %>
  <%= render partial: "progresses/teacher_view", locals: { progress: progress } %>
<% else %>
  <tr class="progress-table-rows">
    <td class="table-row-data"><%= progress.subject.name%></td>
    <td class="table-row-data"><%= progress.school_class.name %></td>
    <td class="table-row-data"><%= progress.teacher.full_name %></td>
    <td class="table-row-data d-none d-md-table-cell"><%= progress.academic_year %></td>
    <td class="table-row-data d-none d-md-table-cell"><%= progress.term.term_type %></td>
    <td class="table-row-data d-none d-md-table-cell"><%= progress.seq_num %></td>
  </tr>
<% end %>
