<table class="table table-hover">
  <thead class="table-head-styles">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">duration</th>
      <th scope="col">Abs</th>
      <th scope="col">Topics</th>
      <th scope="col" class="d-none d-md-table-cell">academic year</th>
      <th scope="col" class="d-none d-md-table-cell">Term</th>
      <th scope="col" class="d-none d-md-table-cell">Sequence</th>
    </tr>
  </thead>
  <tbody>
    <% progresses.each do |progress| %>
      <tr class="progress-table-rows">
        <td class="table-row-data">
          <%= link_to progress.readable_date(with_time: true), "##{generate_drawer_id("preview", record: progress)}", 
    class: "grey-link-text dashboard-normal-font-size", data: { bs_toggle: "offcanvas" },
     role: "button", aria: {controls: "#{generate_drawer_id("preview", record: progress)}_drawer"} %>
        </td>
        <td class="table-row-data"><%= progress.hours_mins_taught %></td>
        <td class="table-row-data"><%= progress.absent_students.size %></td>
        <td class="table-row-data"><%= progress.topics.size %></td>
        <td class="table-row-data d-none d-md-table-cell"><%= progress.academic_year %></td>
        <td class="table-row-data d-none d-md-table-cell"><%= progress.term.term_type %></td>
        <td class="table-row-data d-none d-md-table-cell"><%= progress.seq_num %></td>
      </tr>
      <%= render partial: "progresses/preview", layout: "layouts/drawer_layout", 
              locals: { progress: progress, title: progress.readable_date(with_time: true), 
              item_id: generate_drawer_id("preview", record: progress) , position: "end", 
              btn_text: "View", btn_visibility: false, hide_edit_action: false } %>
    <% end %>
  </tbody>
</table>
