<div id="<%= dom_id deposit %>">
  <p>
    <strong>School:</strong>
    <%= deposit.school_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= deposit.teacher_id %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= deposit.origin %>
  </p>

  <p>
    <strong>Approval:</strong>
    <%= deposit.approval %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deposit.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= deposit.description %>
  </p>

</div>
