<%= form_with(model: deposit) do |form| %>
  <% if deposit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :school_id, style: "display: block" %>
    <%= form.text_field :school_id %>
  </div>

  <div>
    <%= form.label :teacher_id, style: "display: block" %>
    <%= form.text_field :teacher_id %>
  </div>

  <div>
    <%= form.label :origin, style: "display: block" %>
    <%= form.number_field :origin %>
  </div>

  <div>
    <%= form.label :approval, style: "display: block" %>
    <%= form.number_field :approval %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
