<%= form_with(model: school) do |form| %>
  <% if school.errors.any? %>
    <div style="form-error-div">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>
      <ul>
        <% school.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :full_name, style: "display: block" %>
      <%= form.text_field :full_name, class: "general-input-styles" %>
    </div>
    <div class="col-md-3">
      <%= form.label :abbreviation, style: "display: block" %>
      <%= form.text_field :abbreviation, class: "general-input-styles" %>
    </div>
    <div class="col-md-2">
      <%= form.label :education_level, style: "display: block" %>
      <%= form.select :education_level, School.education_levels.map { |k,v| [k.humanize, k] }, {include_blank: 'Select Education level Number'}, { class: "general-input-styles" } %>
    </div>
    <div class="col-md-3">
      <%= form.label :town, style: "display: block" %>
      <%= form.text_field :town, class: "general-input-styles" %>
    </div>
    <div class="col-md-3">
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, class: "general-input-styles" %>
    </div>
    <div class="col-md-9">
      <%= form.label :moto, style: "display: block" %>
      <%= form.text_field :moto, class: "general-input-styles" %>
    </div>
  </div>
  <% if edit %>
    <h5 class="text-center my-3">Student ID Settings</h6>
    <div class="row">
      <div class="col-md-3">
        <%= form.label :school_identifier, style: "display: block" %>
        <%= form.text_field :school_identifier, class: "general-input-styles" %>
      </div>
    </div>
    <h5 class="text-center my-3">Whatsapp Notification Settings</h6>
    <div class="row">
      <div class="col-md-2">
        <%= form.label :activate_notification %>
        <%= form.check_box :activate_notification %>
      </div>
      <div class="col-md-3">
        <%= form.label :notification_contact %>
        <%= form.text_field :notification_contact, class: "general-input-styles" %>
      </div>
    </div>
  <% end %>
  <div class="my-3">
    <%= form.submit class: "model-form-btn" %>
  </div>
<% end %>
