<div id="<%= dom_id school %>">
  <p>
    <strong>Full name:</strong>
    <%= school.full_name %>
  </p>
  <p>
    <strong>Abbreviation:</strong>
    <%= school.abbreviation %>
  </p>
  <p>
    <strong>Town:</strong>
    <%= school.town %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= school.address %>
  </p>
  <p>
    <strong>Moto:</strong>
    <%= school.moto %>
  </p>
</div>
