<div class="container">
  <h1 class="text-center">School general Information and Analytics</h1>
  <div class="row">
    <div class="col-md-3">
      <h3>left side bar</h3>
      <%= render "shared/school_left_sidebar" %>
    </div>
    <div class="col-md-9">
      <%= render @school %>
      <%= link_to "Edit this school", edit_school_path(@school) %> |
      <%= link_to "Back to schools", schools_path %>
      <%= button_to "Destroy this school", @school, method: :delete %>
    </div>
  </div>
</div>
</div>
