<div class="container">
  <% if current_school.testing_mode? %>
    <%= render "shared/school_approval_notification" %>
  <% else %>
    <div class="students-class-info row">
      <% @school_classes.each do |school_class| %>
        <div class="col-6 col-md-2 my-2">
          <div class="dark-blue-section-div text-center">
            <p class="dashboard-normal-font-size"><%= school_class.name %></p>
            <h5><%= school_class.students.size %></h5>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= render partial: "students/form", 
          layout: "layouts/modal_layout", 
          locals: { student: @student, action_name: "Add Student", action_title: "Create A New Student",
          modal_id: generate_modal_id("students_create_form") }%>
    </div>
    <div class="students-list-div white-section-div my-5">
      <%= render partial: "students/table", locals: { students: @students } %>
      <%= will_paginate @students %>
    </div>
  <% end %>
</div>
