<div id="school-main-div">
  <%= render "shared/school_manager_navbar" %>
  <div>
    <%= render partial: "students/form", 
        layout: "layouts/modal_layout", 
        locals: { student: @student, action_name: "Add Student", action_title: "Create A New Student" }%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">full names</th>
        <th scope="col">address</th>
        <th scope="col">subjects</th>
        <th scope="col">class</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.full_name %></td>
          <td><%= student.address %></td>
          <td><%= student.subjects %></td>
          <td><%= student.school_class.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">subject</th>
        <th scope="col">seq 1</th>
        <th scope="col">seq 2</th>
        <th scope="col">Avg/20</th>
        <th scope="col">Coef</th>
        <th scope="col">Score</th>
        <th scope="col">Grade</th>
        <th scope="col">Rank</th>
        <th scope="col">Teacher</th>
        <th scope="col">Remark/Sign</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <% num = 1 %>
        <% subjects = student.school_class.subjects %>
        <% subjects.each do |subject| %>
          <% @term = Term.first_term.first %>
          <% first_seq, second_seq = @term.sequences.where(subject_id: subject.id).order(:seq_num) %>
          <% sequence_marks = @term.sum_sequence_subject_marks(subject.id) %>
          <% sequence_averages = @term.calc_sequence_averages(sequence_marks) %>
          <% first_seq_mark = student.sequence_mark_per_subject(first_seq.hashed_marks) %>
          <% second_seq_mark = student.sequence_mark_per_subject(second_seq.hashed_marks) %>
          <% average_mark = (first_seq_mark + second_seq_mark) / 2 %>
          <tr>
            <td><%= num %></td>
            <td><%= subject.name %></td>
            <td><%= first_seq_mark  %></td>
            <td><%= second_seq_mark %></td>
            <td><%= average_mark %></td>
            <td><%= subject.coefficient %></td>
            <td><%= average_mark * subject.coefficient %></td>
            <td>To Do</td>
            <td><%= student.sequence_rank(sequence_averages) %></td>
            <td><%= subject.teachers.first.name %></td>
            <td>To Do</td>
          </tr>
          <% num += 1%>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
