<div id="<%= dom_id course %>">
  <p>
    <strong>School:</strong>
    <%= course.school_id %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= course.faculty_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= course.department_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Credit value:</strong>
    <%= course.credit_value %>
  </p>

</div>
