<div class="dark-blue-section-div dashboard-normal-font-size p-2">
  <p class="text-center"> <%= course.long_title %></p>
  <p class="margin-zero">Faculty: <span class="text-color-grey"><%= course.faculty.name %></span></p>
  <p class="margin-zero">Department: <span class="text-color-grey"><%= course.department.name %></span></p>
  <p class="margin-zero">Credit Val: <span class="text-color-grey"><%= course.credit_value %></span></p>
  <p class="margin-zero">Tot Enrollments: <span class="text-color-grey"><%= course.enrollments.size %></span></p>
</div>
