<div class="container">
  <div class="row my-3">
    <div class="col-md-4 mx-auto">
      <%= link_to "Creat Assessment", new_assessment_path(course_id: @course.id), class: "general-link" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "courses/course", locals: { course: @course } %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <% @assessments.each do |assessment| %>
          <div class="col-md-6">
            <%= render partial: "assessments/assessment", locals: { assessment: assessment } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <%= render partial: "enrollments/search_bar" %>
      <div class="white-section-div my-2 scrollable-tbody">
        <%= render partial: "enrollments/table", locals: { enrollments: @enrollments }%>
      </div>
    </div>
  </div>
</div>
