<div id="<%= dom_id worker %>">
  <p>
    <strong>Teacher:</strong>
    <%= worker.teacher_id %>
  </p>

  <p>
    <strong>School:</strong>
    <%= worker.school_id %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= worker.permission %>
  </p>

  <p>
    <strong>Monthly rate:</strong>
    <%= worker.monthly_rate %>
  </p>

</div>
