<div id="<%= dom_id worker %>">
  <p>
    <strong>School:</strong>
    <%= worker.school_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= worker.teacher_id %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= worker.permission %>
  </p>

  <p>
    <strong>Agreed salary:</strong>
    <%= worker.agreed_salary %>
  </p>

  <p>
    <strong>Job description:</strong>
    <%= worker.job_description %>
  </p>

</div>
