<div id="<%= dom_id course_registration %>">
  <p>
    <strong>School:</strong>
    <%= course_registration.school_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= course_registration.student_id %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= course_registration.academic_year_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course_registration.semester_id %>
  </p>

  <p>
    <strong>Credit val:</strong>
    <%= course_registration.credit_val %>
  </p>

  <p>
    <strong>Courses:</strong>
    <%= course_registration.courses %>
  </p>

</div>
