<div id="<%= dom_id fee %>">
  <p>
    <strong>School:</strong>
    <%= fee.school_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= fee.school_class_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= fee.teacher_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= fee.student_id %>
  </p>

  <p>
    <strong>Academic year start:</strong>
    <%= fee.academic_year_start %>
  </p>

  <p>
    <strong>Academic year end:</strong>
    <%= fee.academic_year_end %>
  </p>

  <p>
    <strong>Installments:</strong>
    <%= fee.installments %>
  </p>

  <p>
    <strong>Installment num:</strong>
    <%= fee.installment_num %>
  </p>

  <p>
    <strong>Total feee paid:</strong>
    <%= fee.total_feee_paid %>
  </p>

  <p>
    <strong>Is completed:</strong>
    <%= fee.is_completed %>
  </p>

</div>
