<div id="<%= dom_id fee %>">
  <p>
    <strong>Installments:</strong>
    <%= fee.installments %>
  </p>
  <p>
    <strong>Installment num:</strong>
    <%= fee.installment_num %>
  </p>
  <p>
    <strong>Total feee paid:</strong>
    <%= fee.total_fee_paid %>
  </p>
  <p>
    <strong>Is completed:</strong>
    <%= fee.is_completed %>
  </p>
</div>
