<tr id="<%= fee.id %>_fee_index_card">
  <td><%= fee.student.full_name %></td>
  <td><%= fee.school_class.name %> / <%= fee.school.send(fee.school_class.generate_fee_string) %></td>
  <td><%= fee.academic_year %></td>
  <td>
    <div class="text-center"><%= number_to_currency(fee.total_fee_paid, unit: "frs", precision: 0, format: "%n %u") %></div>
    <div class="progress">
      <% percentage_complete =  fee.percentage_complete %>
      <%= generate_progress_bar(percentage_complete) %>
    </div>
  </td>
  <td>
    <a data-bs-toggle="offcanvas" href="#<%= fee.id %>_drawer" role="button" aria-controls="<%= fee.id %>_drawer">
      View
    </a>
  </td>
</tr>
<% # keeping the drawer out of the table to avoid issues when rerendering the card after updating a fee%>
<%= render partial: "fees/fee", layout: "layouts/drawer_layout", 
              locals: { fee: fee, percentage_complete: percentage_complete, title: "Fee History of #{fee.student.full_name}", 
              item_id: fee.id, position: "end", btn_text: "View", btn_visibility: false } %>
