<%= form_with(model: fee) do |form| %>
  <% if fee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fee.errors.count, "error") %> prohibited this fee from being saved:</h2>
      <ul>
        <% fee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :school_id, value: fee.school_id %>
  <%= form.hidden_field :school_class_id, value: fee.school_class_id %>
  <%= form.hidden_field :student_id,  value: fee.student_id %>
  <%= form.hidden_field :academic_year_id, value: fee.academic_year_id %>
  <%= form.hidden_field :academic_year_text, value: fee.academic_year_text %>
  <div data-controller="fees">
    <div class="text-center">
      <%= total_fee_paid_span(fee.percentage_complete, number_to_currency(fee.total_fee_paid, unit: "frs", precision: 0, format: "%n %u")) %>
      Out of
      <span class="badge bg-primary"><%= number_to_currency(fee.required_fee, unit: "frs", precision: 0, format: "%n %u") %></span>
    </div>
    <%= form.label :installments, style: "display: block" %>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div id="fee-installments-inputs">
          <% if fee.installments.empty? %>
            <%= generate_installment_input_field(form, "") %>
          <% else %>
            <% fee.installments.each_with_index do |amount, i| %>
              <%= generate_installment_input_field(form, amount) %>
            <% end %>
          <% end %>
        </div>
        <div>
          <span data-action="click->fees#addFeeInput">Add</span>
        </div>
        <div class="text-center">
          <span>Total Added</span> - <span id="sumDiv"><%= fee.total_fee_paid %></span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= form.submit id: "fee-submit-btn" %>
  </div>
<% end %>
