<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">St names</th>
      <th scope="col">class / required fee</th>
      <th scope="col">Current Fee Status</th>
    </tr>
  </thead>
  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.student.full_name %></td>
        <td><%= fee.school_class.name %> / <%= fee.school.send(fee.school_class.generate_fee_string) %></td>
        <td>
          <div class="text-center"><%= number_to_currency(fee.total_fee_paid, unit: "", precision: 0) %>frs,</div>
          <div class="progress">
            <% percent_complete =  fee.percent_complete %>
            <%= generate_progress_bar(percent_complete) %>
          </div>
          <div>
            <%= render partial: "fees/fee", layout: "layouts/drawer_layout", 
              locals: { fee: fee, percent_complete: percent_complete, title: "Fee History of #{fee.student.full_name}", 
              item_id: fee.id, position: "end", btn_text: "View" } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Fees</h1>
