<div class="container-fluid">
  <%= render "shared/school_manager_navbar" %>
  <div class="row">
    <div class="col-md-3">
      <div class="text-center section-div">
        <h5>Total</h5>
        <h5><%= number_to_currency(@overall_fee_paid, unit: "frs", precision: 0, format: "%n %u") %></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="section-div">
        <%= pie_chart complete_incomplete_pie_charts_path, 
        loading: "We are fetching your data .....", colors: ["blue", "orange"], 
        title: "% Complete Fees Vs % InComplete Fees", suffix: "%"  %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="section-div">
        <%= pie_chart incomplete_fee_per_installment_bar_charts_path, 
        loading: "We are fetching your data .....", colors: ["green", "pink", "purple", "voilet"], 
        title: "Incomplete Fee Vs Installment"  %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="section-div">
        <%= pie_chart complete_fee_per_installment_bar_charts_path, 
        loading: "We are fetching your data .....", colors: ["green", "pink", "purple", "voilet"], 
        title: "Complete Fee Vs Installment"  %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="section-div">
        <%= column_chart incomplete_fee_per_class_charts_path, 
        loading: "We are fetching your data .....", colors: ["green", "pink", "purple", "voilet", "orange"], 
        title: "Incomplete Fee Vs Class"  %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="section-div">
        <%= column_chart complete_fee_per_class_charts_path, 
        loading: "We are fetching your data .....", colors: ["green", "pink", "purple", "voilet", "orange"], 
        title: "Complete Fee Vs Class"  %>
      </div>
    </div>
  </div>
</div>
