<div id="<%= dom_id course_result %>">
  <p>
    <strong>School:</strong>
    <%= course_result.school_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= course_result.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course_result.course_id %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= course_result.academic_year_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course_result.semester_id %>
  </p>

  <p>
    <strong>Ca mark:</strong>
    <%= course_result.ca_mark %>
  </p>

  <p>
    <strong>Exam mark:</strong>
    <%= course_result.exam_mark %>
  </p>

  <p>
    <strong>Resit mark:</strong>
    <%= course_result.resit_mark %>
  </p>

  <p>
    <strong>Total mark:</strong>
    <%= course_result.total_mark %>
  </p>

  <p>
    <strong>Has resit:</strong>
    <%= course_result.has_resit %>
  </p>

  <p>
    <strong>Is validated:</strong>
    <%= course_result.is_validated %>
  </p>

  <p>
    <strong>Credit val:</strong>
    <%= course_result.credit_val %>
  </p>

</div>
