<div id="<%= dom_id competence %>">
  <p>
    <strong>School:</strong>
    <%= competence.school_id %>
  </p>
  <p>
    <strong>School class:</strong>
    <%= competence.school_class_id %>
  </p>
  <p>
    <strong>subject:</strong>
    <%= competence.suubject_id %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= competence.title %>
  </p>
</div>
