<div class="row">
  <div class="col-md-6 mx-auto white-section-div">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag("school-logo.png", class: "img-fluid") %>
      </div>
      <div class="col-md-8">
        <h4 class="text-center"><%= receipt.school.full_name %></h4>
        <p class="text-center">Hand Work Brings Success</p>
        <p>School fees receipt</p>
        <p class="d-flex justify-content-between">Transaction Date: <span class="text-color-grey-2"><%= @receipt.readable_date %></span></p>
        <p class="margin-zero d-flex justify-content-between">Reference No: <span class="text-color-grey-2"><%= @receipt.transaction_reference %></span></p>
        <p class="margin-zero d-flex justify-content-between">Student: <span class="text-color-grey-2"><%= @receipt.student.full_name %></span></p>
        <p class="margin-zero d-flex justify-content-between">Amuont Payed: <span class="text-color-grey-2"><%= @receipt.amount %></span> frs</p>
      </div>
    </div>
    <div class="receipt-show-table-section">
      <%= render partial: "receipts/receipt_show_table", locals: { receipt: receipt, fee: fee }%>
    </div>
    <div class="qrcode">
      <%= raw @svg %>
    </div>
  </div>
</div>
