<div class="container">
  <div class="text-center my-4">
    <%= link_to "Download", id_card_pdf_view_receipt_path, class: "general-link" %>
  </div>
  <div class="horizontal-scroll">
    <div style="width: 650px;" class="mx-auto white-section-div receipt-div">
      <div class="row">
        <div class="col-2">
          <%= render partial: "schools/logo", locals: { school: school }%>
        </div>
        <div class="col-10 px-3">
          <h4 class="text-center"><%= school.full_name %></h4>
          <p class="text-center"><%= school.moto %></p>
          <p>School fees receipt</p>
          <p class="d-flex justify-content-between">Transaction Date: <span class="text-color-grey-2"><%= @receipt.readable_date %></span></p>
          <p class="margin-zero d-flex justify-content-between">Reference No: <span class="text-color-grey-2"><%= @receipt.transaction_reference %></span></p>
          <p class="margin-zero d-flex justify-content-between">Student: <span class="text-color-grey-2"><%= @receipt.student.full_name %></span></p>
          <p class="margin-zero d-flex justify-content-between">Amuont Payed: <span class="text-color-grey-2"><%= number_to_currency(@receipt.amount, unit: "", precision: 0) %> frs</span></p>
        </div>
      </div>
      <div class="receipt-show-table-section">
        <%= render partial: "receipts/receipt_show_table", locals: { receipt: receipt, fee: fee }%>
      </div>
      <div class="qrcode">
        <%= raw @svg %>
      </div>
    </div>
  </div>
</div>
