<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amount Payed</td>
      <td><%= number_to_currency(receipt.amount, unit: "", precision: 0) %> frs</td>
    </tr>
    <tr>
      <td>Installment No</td>
      <td><%= receipt.installment_num %></td>
    </tr>
    <tr>
      <td>Total Fee payed</td>
      <td><%= number_to_currency(receipt.total_fees_paid_at_this_point, unit: "", precision: 0) %> frs</td>
    </tr>
    <tr>
      <td>Required Fee</td>
      <td><%= number_to_currency(fee.required_fee, unit: "", precision: 0) %> frs</td>
    </tr>
    <tr>
      <td>Balance</td>
      <td><%= number_to_currency(receipt.balance, unit: "", precision: 0) %> frs</td>
    </tr>
  </tbody>
</table>
