<div id="<%= dom_id receipt %>">
  <p>
    <strong>School:</strong>
    <%= receipt.school_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= receipt.teacher_id %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= receipt.academic_year_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= receipt.student_id %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= receipt.fee_id %>
  </p>

  <p>
    <strong>Transaction reference:</strong>
    <%= receipt.transaction_reference %>
  </p>

  <p>
    <strong>Has error:</strong>
    <%= receipt.has_error %>
  </p>

</div>
