<!-- Button trigger modal -->
<button type="button" class="unassign-confirm-btn <%= text_color %>" data-bs-toggle="modal" data-bs-target="#<%= modal_id %>">
  <%= text %>
</button>
<!-- Modal -->
<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= confirmation_text %>
      </div>
      <div class="modal-footer">
        <% if method == "update" %>
          <%= button_to action_text, action_url, method: :put, class: "general-btn" %>
        <% elsif method == "delete" %>
          <%= button_to action_text, action_url, method: :delete, class: "general-btn" %>
        <% end %>
        <button type="button" class="general-btn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
