<div class="py-4">
  <div class="modal fade" style="background: ##1608053b;" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background: white; border: 4px solid #6d757d;">
        <div class="modal-header bg-secondary">
          <h5 class="text-center text-white"><%= action_title %></h5>
          <button type="button" class="btn-close text-white" style="font-weight: 900;" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="general-btn" data-bs-toggle="modal" data-bs-target="#<%=modal_id %>">
    <%= action_name %>
  </button>
</div>
