<%= form_with(model: sequence) do |form| %>
  <% if sequence.errors.any? %>
    <div class="form-error-div">
      <p><%= pluralize(sequence.errors.count, "error") %> prohibited this sequence from being saved:</p>
      <ul>
        <% sequence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :school_id, value: current_school.id %>
  </div>
  <div>
    <%= form.hidden_field :academic_year_id, value: current_school.active_academic_year.id %>
  </div>
  <div>
    <%= form.hidden_field :school_class_id, value: @school_class.id %>
  </div>
  <div>
    <%= form.hidden_field :teacher_id, value: current_teacher.id %>
  </div>
  <div>
    <%= form.hidden_field :subject_id, value: @subject.id %>
  </div>
  <div class="my-2">
    <%= form.label :term, style: "display: block" %>
    <%= form.collection_select :term_id, 
    current_school.terms, :id, :term_type, { prompt: "Select Term" },
     { class: "general-input-styles", required: true } %>
  </div>
  <div>
    <%= form.label :seq_num, style: "display: block" %>
    <%= form.select :seq_num, Sequence.allowed_seq_nums(@school_class).map { |k,v| [k.humanize, k] }, {include_blank: 'Select Sequence Number'}, { class: "general-input-styles" } %>
  </div>
  <div>
    <%= form.label :teachers_name, style: "display: block" %>
    <%= form.text_field :teachers_name, class: "general-input-styles", required: true %>
  </div>
  <table class="table table-hover my-3">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">mark</th>
        <th scope="col">Enrolled</th>
      </tr>
    </thead>
    <tbody>
      <% num = 1%>
      <% @school_class.students.each do |student| %>
        <%= form.hidden_field :id, name: "sequence[marks][][id]", value: student.id %>
        <%= form.hidden_field :id, name: "sequence[marks][][name]", value: student.full_name %>
        <tr>
          <td><%= num %></td>
          <td><%= student.full_name %></td>
          <% if @school_class.should_evaluate_multiple_competences_per_subject %>
            <%= form.hidden_field :id, name: "sequence[marks][][mark]", value: "" %>
            <td>
              <% @competences.each do |c| %>
                <div>
                  <h6><%= c.title %></h6>
                  <%= form.hidden_field :marks, name: "sequence[marks][][competences][][id]", value: c.id %>
                  <%= form.hidden_field :marks, name: "sequence[marks][][competences][][title]", value: c.title %>
                  <%= generate_student_competence_based_marks(form, sequence, student, c) %>
                </div>
              <% end %>
            </td>
          <% else %>
            <td><%= generate_student_marks_input(form, sequence, student) %></td>
          <% end %>
          <td>
            <span>Enrolled</span>
            <div>
              <%= generate_is_enrolled_input(form, sequence, student) %>
            </div>
          </td>
        </tr>
        <% num += 1 %>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= form.submit class: "model-form-btn" %>
  </div>
<% end %>
