<div class="d-flex justify-content-around my-3">
  <%= render partial: "sequences/action_links", locals: { sequence: sequence } %>
</div>
<% if current_school.secondary_education? %>
  <% if sequence.competence_based_evaluation_method? %>
    <%= render partial: "sequences/combined_competence_preview_content", locals: { sequence: sequence } %>
  <% elsif sequence.sequence_based_evaluation_method? %>
    <%= render partial: "sequences/sequence_based_preview_content", locals: { sequence: sequence }%>
  <% end %>
<% elsif current_school.basic_education? %>
  <% if sequence.nursery_evaluation_method? %>
    <%= render partial: "sequences/nursery/nursery_preview_content", locals: {sequence: sequence } %>
  <% elsif sequence.primary_evaluation_method? %>
    <%= render partial: "sequences/primary/primary_preview_content", locals: {sequence: sequence } %>
  <% end %>
<% end %>
