<div id="<%= dom_id sequence %>">
  <p>
    <strong>School:</strong>
    <%= sequence.school_id %>
  </p>
  <p>
    <strong>School class:</strong>
    <%= sequence.school_class_id %>
  </p>
  <p>
    <strong>Teacher:</strong>
    <%= sequence.teacher_id %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= sequence.seq_num %>
  </p>
  <p>
    <strong>Academic year start:</strong>
    <%= sequence.academic_year_start %>
  </p>
  <p>
    <strong>Academic year end:</strong>
    <%= sequence.academic_year_end %>
  </p>
</div>
