<div class="light-grey-card p-2 dashboard-normal-font-size">
  <h6><%= sequence.seq_title %></h6>
  <p class="margin-zero">Student enrolled: <span class="text-color-grey-2 px-3"><%= sequence.enrolled_num %></span></p>
  <p class="margin-zero">Percent success: <span class="text-color-grey-2 px-3"><%= sequence.percent_success %> %</span></p>
  <p class="margin-zero">Teacher: <span class="text-color-grey-2 px-3"><%= sequence.teacher.full_name %></span></p>
  <div class="d-flex justify-content-between">
    <%= render partial: "sequences/sequence_card_one", 
        layout: "layouts/drawer_layout", 
        locals: { sequence: sequence, title: sequence.seq_title, item_id: generate_drawer_id("preview_sequence", record: sequence), position: "end", btn_text: "View", btn_visibility: true }%>
    <%= sequence.status %>
    <%= link_to "Edit", edit_sequence_path(sequence), class: "general-link" %>
  </div>
</div>
