<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title"><%= sequence.seq_num.humanize %> | <%= sequence.academic_year_start %> / <%= sequence.academic_year_end %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Teacher: <%= sequence.teacher.name %></h6>
    <%= link_to "View", sequence, class: "card-link" %>
    <%= link_to "Edit", edit_sequence_path(sequence), class: "card-link" %>
  </div>
</div>
